body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.photo-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	background: url(/images/nyc-background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.trip-planner {
	position: fixed;
	clear: both;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
	 font: 14px;
}

#map {
	height: 100vh;
}

.activities {
	background-color: #948e78;
	padding: 15px;
	border-radius: 10px;
}

