body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-container{
  display: block;
  width: 100%;
  clear: both;
	position: fixed;
	left: 10px;
}

.main-container::before, .main-container::after {
    clear: both;
    content: '';
    display: block;
}

.row {
  display: block;
  width: 100%;
  clear: both;
}

.row::before, .row::after {
    clear: both;
    content: '';
    display: block;
}

.nyc {
	width: 100vw;
	height: 85vh;
}

/*.photo-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	background: url(/images/nyc-background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}*/

.trip-planner {
	position: fixed;
	clear: both;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
	 font: 14px;
}

#map {
	height: 80vh;
}

.col-lg-3{
	background-color: #948e78;
	height: 80vh;
}

.col-lg-9{
	background-color: #948e78;
	padding-left: 0;
}

.activities {
	background-color: #f4e9d7;
	padding: 15px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.panel-heading{
	background-color: #f4e9d7 !important;
}

.btn-default{
	border-radius: 100px !important;
}

.current-day{
	text-align: center;
}

ul{
	list-style-type: none;
}

